<div class="bodyindexPage">
    <div class="container text-center">
    <div class="row ">
        <div class="col ">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col">
            &nbsp;
        </div>
    </div>
    <div class="row ">
        <div class="col">
            <div class="container ">
                <div class="row justify-content-start">
                    <div class="col-6 text-start">
                        <h1>Faça as malas e inicie sua próxima jornada!</h1>
                        <div class="row">
                            <div class="col">
                                &nbsp;
                            </div>
                        </div>
                        <p>Colecione experiências incríveis em ótima companhia.</p>
                        <div class="row">
                            <div class="col"></div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-auto me-3">
                                    <button id="btnPlanejarViagem">Planejar uma viagem</button>
                                    <button id="btnPesquisarViagem">Pesquisar viagens</button>
                                </div>
                                <div class="col-auto">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>